<div class="row">
  <div class="large-12 columns">
    <p><img src="/assets/surf.jpg" /></p>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h4>It Begins at the Water's Edge</h4>
    <p>Ocean Monitor connects realtime meteoroligical data with observations of beachgoers to reveal the mystery of our planets most beautiful, and powerful resources.</p>
    <p>Join the thousands of surfers, lifeguards, fisherman, and beachgoers in your area that have already added to the experiment. Together, we will create a safer, deeper relationship with our oceans.</p>
    <p><%= link_to 'Create an account →', new_user_registration_path, html_options = {:class =>'secondary small button'} %></p>
  </div>

  <div class="large-4 columns">
    <ul class="small-block-grid-3">
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>



